.animated_dialog_box {

    padding: 20px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 450px;
    left: 0;
    height: 225px;
    width: 1235px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid #ffffff;
    font-family: Arial, serif;

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;

    .word {
        font-size: 40px;
        color: #ffffff;
        margin: 0 5px 0 5px;
        display: inline-block;
    }

    .dialog_option {
        width: 550px;
        border: 2px solid #ffffff;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        margin: 10px;
        padding: 20px;
        display: inline-block;
    }
}