.animated_dialog_box {

    padding: 20px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 225px;
    width: 1235px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid #ffffff;
    font-family: Arial, serif;
    transition: visibility 0s, opacity 0.5s;

    .word {
        font-size: 40px;
        color: #ffffff;
        margin: 0 5px 0 5px;
        display: inline-block;
    }

    .dialog_option {
        width: 550px;
        border: 2px solid #ffffff;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        margin: 10px;
        padding: 20px;
        display: inline-block;
    }

    .title_box {
        visibility: hidden;
        position: absolute;
        color: #ffffff;
        top: -25px;
        font-size: 23px;
        font-weight: bold;
        background: #000000;
        border: #ffffff 2px solid;
        padding: 5px 10px;
        border-radius: 10px;

        &.visible {
            visibility: visible;
        }
    }
}