#title_screen {
  font-size: 100px;
  text-align: center;
  font-family: Arial, serif;
  color: #ffffff;
  text-shadow: 0 0 10px #000000;

  .title {
    margin-top: 100px;
  }

  .instruction {
    margin-top: 100px;
    font-size: 50px;
    opacity: 1;

    transition: opacity linear 1s;

    &.faded {
      opacity: 0.25;
    }
  }
}

