body {

  margin: 0;
  padding: 0;
  background: #000000;

  #stvne {

    #game_window {
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      transform-origin: top left;

      canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

}